body {
    background-color: lightgray;
    color: darkgreen;
}

.extreme {
    font-family: Arial, Helvetica, sans-serif;
}

#head1 {
    display: block;
    text-align: center;
    background-color: green;
    color: white;
}

h3 {
    display: block;
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    display: block;
    text-align: center;
    background-color: green;
    color: white;
}

.navzone {
    border-left: 6px solid green;
    background-color: grey;
}

#tehlulz {
    list-style-type: square;
    color: lightgreen;
}

a {
    color: white;
}

.prose {
    color: blue;
    font-family: "Comic Sans", cursive, sans-serif;
}